node_modules/
__pycache__/
.DS_Store
Thumbs.db
*.log
backend/v-service/bin/
backend/v-service/*.exe
backend/v-service/*.c
backend/v-service/src/*.c
backend/v-service/*.pdb
archive/*.zip
archive/*.tar.gz
archive/browser_profiles/
